:root {
    --blue:#004C97;
    --green: #97C800;
    --primary: #004C97;
    --secondary: #009CDE;
    --tertiary: #8DC8E8;
    --tertiary-alt: #B0D9EF;
    --heading-color: white;
    --text-color: rgb(240, 240, 240);
    --highlight-color: #eba800;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.1rem;
    font: 'roboto';
}
a{
    position: relative;
    text-decoration: none;
}
a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: var(--secondary);
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}
span.highlight {
    color: var(--highlight-color);
}
h1 {
    font-size: larger;
}
h2 {
    font-size: 2rem;
}
button {
    cursor: pointer;
    margin: 0.9rem;
    padding: 0.6rem;
}
header {
    position: relative;
    z-index: -1;
}
.contact-me-btn {
    background-color: var(--tertiary);
    transition: 0.5s;
}
.contact-me-btn:hover {
    background-color: var(--tertiary-alt);
    -webkit-box-shadow:0px 0px 147px 16px rgba(176,217,239,0.52);
    -moz-box-shadow: 0px 0px 147px 16px rgba(176,217,239,0.52);
    box-shadow: 0px 0px 147px 16px rgba(176,217,239,0.52);

    -webkit-box-shadow:0px 0px 147px 21px rgba(176,217,239,0.59);
    -moz-box-shadow: 0px 0px 147px 21px rgba(176,217,239,0.59);
    box-shadow: 0px 0px 147px 21px rgba(176,217,239,0.59);
}
.circle {
    width: 24px;
    height: 24px;
    border-radius: 24px;
    background-color: black;
    position: absolute;
    left: 0;
    right: 0;
}
body {
    color: white;
    background-color: var(--blue);
    font-family:  Georgia, 'Times New Roman', Times, serif;
}
body> header {
    width: 100%;
    height: 100%;
}
body> header> img {
    width: 80%;
    height: 80%;
}
body> header> svg {
    background-color: rgba(255,255,255,0);
    position: absolute;
    left: 0;
    bottom: 0;
}
nav {
    position: relative;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--blue);
    border-top: var(--tertiary-alt) 0.2em solid;
    border-bottom: var(--tertiary-alt) 0.2em solid;
    width: 100%;
    padding: 0 0.9rem;
}
nav:first-of-type> div:first-child { 
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav:first-of-type> div:first-child> h1 { 
    margin-left: 0.3rem;
}
nav:first-of-type a, nav:first-of-type> button {
    display: none;
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: var(--green) 0.4em solid;
    text-align: center;
}
footer div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
footer div:first-child div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: 0.5em;
    padding: 1em;
}
footer div:first-child div:nth-child(2) {
    border-top: var(--tertiary-alt) 0.1em solid;
    border-bottom: var(--tertiary-alt) 0.1em solid;
}
footer div:last-child {
    margin-bottom: 2rem;
}
.hamburger-menu-nav {
    width: 100vw;
    text-align: center;
    position: sticky;
    top: 100px;
}
nav.hamburger-menu-nav> a {
    display: block;
    margin: 1.3rem 0rem;
}
.project {
    width:33%;
    background-color: var(--tertiary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0.4em;
    box-shadow: 0rem 1.2rem 3rem #000;
    transition: .2s;
    padding: 0.3rem;
}
.project:hover {
    cursor: pointer;
}
.project> img {
    height: 45%;
    object-fit: cover;
    border-radius: 0.2em;
}
.project> h3 {
    text-align: center;
    text-decoration: underline;
    margin: 0.3rem 0;
}
.project> p {
    color: var(--text-color);
}
.tags {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    flex-wrap: wrap;
}
.tags ul li {
    display: inline-block;
    margin: 0 0.2rem;
}
.tag {
    margin-top: 3px 0;
    font-size: 12px;
    text-decoration: none;
    color: white;
    background-color: var(--blue);
    border-radius: 15%;
    padding: 0.2em;
}
div.logo {
    width:100px;
    height:100px;
    background-color:white;
    border-radius: 100%;
    background-image: url('Images/upperbodyShot.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid var(--tertiary-alt);
}
.project-more {
    background-color: #e1e2e6;
    animation: showMore 500ms linear 0s forwards;
    animation-timing-function: ease-in-out;
    padding: 10px 5px;
    border-radius: 20px;
    border: var(--tertiary) solid 1px;
    z-index: 2;
}
.project-more::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.exit-btn {
    width: 10px;
    border-radius: 100%;
    border: solid 3px white;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.exit-btn:hover {
    color: red;
    cursor: pointer;
}
.project-more-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: scroll;
    max-height: 90%;
}
.project-more-container> div:first-child {
    margin: 0 auto;
}
.project-more-container> div:last-child {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: 2rem;
}
.project-more-container> div:last-child> :is(h1,article) {
    color: #000;
}
.project-more-container> div:last-child> * {
    margin: 1rem 0;
}
.project-more-container> div:first-child> div:first-child {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.project-more-container> div:first-child> div:first-child> img {
    max-width: 80%;
}
.project-more-container> div:first-child> div:first-child> div {
    height: 10rem;
    width: 1rem;
    background-color: gray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}
.project-more-container> div:first-child> div:first-child> div:hover {
    background-color: darkgray;
}
.bubbles {
    display: flex;
    justify-content: center;
    align-items: center;
}
.bubbles> div {
    border: 1px solid white;
    width: 10px;
    height: 10px;
    margin: 0.5rem;
}
.bubbles> div:not(.video-bubble) {
    border-radius: 100%;
}
.selected-bubble {
    background-color: white;
}
.project-links> div {
    margin: 0.9rem 0rem;
}
.project-links img {
    width: 50px;
}
.resource-links> a {
    color: black;
    font-size: larger;
    display: block;
}
.resource-links> a:hover {
    color: var(--blue);
}
body> header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
body> header> .hero {
    width: 80%;
    height: 80%;
    position: relative;
}
body> header> .hero::after {
    content: "";
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.1;
}
body> header> .hero> div {
    position: absolute;
    top: 70%;
    left: 5%;
    z-index: 3;
}
body> header> .hero> div> #headline {
    font-size: 1em;
}
body> header> .hero> div> p {
    background-color: #0d2949;
    border: 2px solid var(--tertiary);
    padding: 0.1rem;
    width: fit-content;
    font-size: 0.8em;
}
body> header> .hero> div> p> span {
    color: var(--green);
    font-size: 0.8em;
}
body> header> .hero> img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 900px) {
    #hamburger-menu {
        display: none;
    }
    body> header> .hero> div> #headline {
        font-size: 2em;
    }
    body> header> .hero> div> p {
        font-size: 1.1em;
    }
    body> header> .hero> div> p> span {
        font-size: 1.1em;
    }
    nav:first-of-type> button {
        display: block;
    }
    nav:first-of-type a {
        display: inline;
    }
    nav:first-of-type a::after {
        content: "";
        position: absolute;
        background-color: var(--green);
        height: 3px;
        width: 0%;
        left: 0;
        bottom: -6px;
        transition: 0.3s;
    }
    nav:first-of-type a.selected-menu::after {
        width: 30%;
    }
    nav:first-of-type a:hover:after {
        width: 100%;
    }
    body> header> svg {
        background-color: rgba(255,255,255,0);
        position: absolute;
        left: 0;
        bottom: 0;
    }
    footer div:first-child {
        flex-direction: row;
    }
    footer div:first-child div {
        margin: 1em 1.5em;
    }
    footer div:first-child div:nth-child(2) {
        border-left: var(--tertiary-alt) 0.1em solid;
        border-right: var(--tertiary-alt) 0.1em solid;
        border-top: none;
        border-bottom: none;
    }
}

@keyframes showMore {
    0% {
        position: fixed;
        bottom: 8%;
        left: 2.85%;
        width: 10%;
        height: 10%;
        opacity: 0.3;
    }
    100% {
        position: fixed;
        bottom: 8%;
        left: 2.85%;
        width: 93.6%;
        height: 83%;
    }
}